.contenedor {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: #FAFAFB;
    font-family: 'Barlow', sans-serif;
}

.campos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.titulo{
    color: black;
    font-size: 36px;
}

.registerForm {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.717);
    width: 30rem;
    height: 35rem;
    padding: 35px;
    background-color: #fafafb;
    border-radius: 20px;


}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
}


.box {
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    background-color: EAEAEC;
    
    background-color:#ffffff;
    border-bottom: 1px solid black;
    font-size: 16px;
}
.box:placeholder{
    color: rgb(173, 173, 173);
    font-size: 24px;
}



.registerForm .btnRegister {
    width: 100%;
    border: none;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(21, 19, 19);
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    margin-top: 25px;
    border-radius: 15px;

    font-weight: 600;
}




.registerForm .btnRegister:hover {
    background-color: #373737;

}

.registerForm .btnRegister:disabled{
    background-color: #616161;
    cursor: auto;
}
.invalid {
    position: fixed;

    color: rgb(255, 4, 4);
    font-size: 1rem;
}


app-terms-and-conditions{
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 100;
}

.terms{

    color: black;
    cursor: pointer;

}

.invalidTerms {
    position: absolute;

    color: rgb(255, 4, 4);
    font-size: 1rem;
}

input:focus{
    outline: none;
}

.tengoCuenta{
    margin-top: 10px;
}