<div class="contenedor">

    <div class="loginForm">

        <h2 class="titulo">Iniciar sesión</h2>

        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

            <label for="emailInput">Correo electrónico</label>

            <div>
            <span *ngIf="emailVacio()" class="campos">
                *
            </span>
            <input formControlName="email" class="box" type="email" id="emailInput" placeholder="example@example.com"
                required>

            </div>

            <label for="passwordInput">Contraseña</label>
            <div>

                <span *ngIf="passwordVacio()" class="campos">
                    *
                </span>
                <input formControlName="password" class="box" type="password" id="passwordInput"
                placeholder="Ingresa tu contraseña" required minlength="8">
            </div>


            <button class="btnLogin">Ingresar</button>
            <a href="/register" class="btnRegister">Registrarse</a>



            <a class="olvideContra">Olvidé mi contraseña</a>


        </form>

    </div>
</div>