<div class="div_container">
    <div mat-dialog-content class="input-container">
       
        <input [type]="passwordVisibility ? 'text' : 'password'"
          [formControl]="inputControl"
          class="input_pass" placeholder="Enter password">
          <mat-icon (click)="togglePasswordVisibility()" >{{passwordVisibility ? 'visibility_off' : 'visibility'}}</mat-icon>
      </div>
      <div mat-dialog-actions>
        <button mat-button (click)="closeModal()">Cancel</button>
        <button mat-button [mat-dialog-close]="data" (click)="submitForm()" cdkFocusInitial>Submit</button>
</div>