<div class="contenedor">

    <div class="loginForm">

        
        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <h2 class="titulo">Bienvenido a AlkyBank</h2>

            
            <div class="campos">

                <!-- <label for="emailInput">Correo electrónico</label> -->
                
                <input  formControlName="email" class="box" type="email" id="emailInput" placeholder="Email"
                required>

                <div *ngIf="loginForm.controls.email.touched&& loginForm.controls.email.errors">
                    <div class="invalid">* Correo electrónico obligatorio</div>
                </div>
                
            </div>
          
            <div class="campos">

                <!-- <label for="passwordInput">Contraseña</label> -->
               
                
                <input formControlName="password" class="box" type="password" id="passwordInput"
                placeholder="Contraseña" required minlength="6">
                

                <div *ngIf=" loginForm.controls.password.touched && loginForm.controls.password.errors">
                    <div class="invalid">* Contraseña obligatoria</div>
                </div>
            </div>
            <div class="invalidDates" *ngIf="invalidEmailOrPassword">Correo o contraseña incorrectos</div>
            <div class="buttons">

                <button class="btnLogin" [disabled]="loginForm.invalid">Ingresar</button>
                <!-- Tarea: Agregar alerta en caso de que el usuario no exista  -->
                
                <a routerLink="/register" class="btnRegister">Registrarse</a>
                
                
                
                <a class="olvideContra">Olvidé mi contraseña</a>
            </div>


        </form>
      
    </div>
</div>