.contenedor {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    text-align: center;
    color: #FAFAFB;
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFB;
    background-image: url('../../../assets/img/background-login.svg');
}

label {
    font-size: 1.1rem;
}

label,
.olvideContra {
    text-shadow: 0 2px rgba(0, 0, 0, 0.651);

}

.titulo {
    font-size: 2.4rem;
}

.loginForm {
    box-shadow: 0 0 0.5rem rgb(0, 0, 0);
    width: 35rem;
    height: 35rem;
    padding: 35px;
    background-image: linear-gradient(#7a0adc34, #36296acb);
    border-radius: 15px;

}

.campos {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.buttons {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.buttons .olvideContra {
    margin: 15px;
    color: white;
    text-decoration: none;
}

form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 20px;
}


.box {
    border: none;
    margin: 20px;
    margin-bottom: 0;
    padding: 15px;
    background-color: EAEAEC;
    border-radius: 4px;
    background-color: #00000082;
    text-align: center;
    border-bottom: 1px solid black;
    color: white;
    font-size: 16px;

}




.loginForm .btnLogin,
.loginForm .btnRegister {
    border: none;
    padding: 15px;
    cursor: pointer;
    background-color: rgb(21, 19, 19);
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    margin: 5px;
    border-radius: 15px;
    font-size: 16px;
}



.loginForm .btnLogin:hover,
.loginForm .btnRegister:hover {
    background-color: #52059e;

}

.loginForm .btnLogin:disabled {
    background-color: #363136;
    cursor: auto;
}

.invalid {
    position: absolute;
    text-align: center;
    margin-left: 2rem;
    color: rgb(255, 4, 4);
    font-size: 1rem;
}

.invalidDates{
    color: red;
}